@import 'vars';
.main__cont {
    .titles {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: $colorTx;
    }  
}
aside {
    .div__container-cont {
        color: $colorTx;
        text-align: center;
        margin: 10px;
        padding: 5px;
    }
}
footer {
    div {
        ul {
            p{
                color: #ffffff70;
                text-align: center;
                overflow: hidden;
            }
        }
    }
}