@import 'vars';
@import 'main';
@media (max-width: 480px) {
    .grid__container {
        grid-template-columns: repeat(1, 1fr);
        grid-row: 1;
    }
    title {
       text-align: center;
       font-size: 1rem;
    }
    /* Contactos */

    .main__cont {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /* Quienes Somos */

    .h1-qs {
        text-align: center;
        margin: 10px;
        padding: 5px;
    }
    .text__qs {
        text-align: center;
        font-size: 1.7rem;
        font-family: sans-serif;
        span {
            color: #e6ff02;
            text-decoration: underline;
        }
    }

    /* Ubicacion */

    .div-cont-ubi {
        display: flex;
        flex-direction: column;
        .form-ubi {  
            input {
                margin: 10px;
                padding: 5px;
                border-radius: 7px;
                border-color: $colorBg;
            }      
        }
    }
    .google-map {
        iframe{
            width: 90%;
        }
    }

}

@media (min-width: 490px) and (max-width: 768px) {
    .titles {
        h2 {
            text-align: center;
        }
    }
}