@import 'vars';
.h1-qs {
    text-align: center;
    font-size: 3rem;
    color: $colorTx;
}
.h1-qs:hover {
    text-decoration: underline;
    cursor: pointer;
}
.div__container--qs {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2.5rem;
    color: $colorTx;
    .text__qs {
        text-align: center;
        font-size: 1.7rem;
        font-family: sans-serif;
        span {
            color: #e6ff02;
            text-decoration: underline;
            cursor: pointer;
        }
    }        
}
